<div [ngSwitch]="view">
	<div *ngSwitchCase="'editable'" [ngStyle]="style" class="drop-area">
		<img [ngStyle]="style" [src]="imagePath" alt="{{description}}" style="cursor: hand; cursor:pointer;">
	</div>
	<div *ngSwitchCase="'rename'" [ngStyle]="style" class="drop-area">
		<img [ngStyle]="style" [src]="imagePath" alt="{{description}}" style="cursor: hand; cursor:pointer;">
	</div>
	<div *ngSwitchCase="'visible'" [ngStyle]="style">
		<img [ngStyle]="style" [src]="imagePath" alt="{{description}}">
	</div>
</div>
