<ng-container>
	<div fxLayout="column" fxLayoutAlign="center center">
		<mat-card style="margin:42px;">
			<mat-card-header>
				<mat-card-title>title</mat-card-title>
				<mat-card-subtitle>Subtitle</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout="column" fxLayoutAlign="center center">
					<!--<img [src]="imagePath_o()" style="margin:24px;max-width:300px;max-height: 300px;">-->
					<app-image [width]="360" [height]="360" [fileName]="imageName(images, 0)" [type]="imageMedia(images, 0)"></app-image>
				</div>
				<div [innerHTML]='description' style="margin:48px;font-size: 12px;font-weight:500;line-height: 1.8rem;"></div>
			</mat-card-content>
		</mat-card>
	</div>
</ng-container>
