# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.gradle
android
ios
public
e2e
electron
product
dmg
user.json
temp
*.map
documentation
backup
bridge/**/*.js
models/**/*.js
server/**/*.js
src/app/**/*js
types/**/*.js

base1-darwin-x64



cypress.json
cypress
score.js
default.js
*.p8
app.js
karma.conf.js
main.js
src/assets/images/p1.svg
src/assets/images/p2.svg
src/assets/images/p3.svg
src/assets/images/p4.svg
src/assets/images/p5.svg
src/assets/images/p6.svg
src/assets/images/p7.svg
src/assets/images/p8.svg
*.mp4
