<div class="fix-action-dialog">
	<h1 mat-dialog-title>{{content.title}}</h1>
	<mat-dialog-content fxLayout="column">
		<mat-card>
			<mat-card-header>
				<mat-card-subtitle>
					<div class="description-text">{{content.description}}</div>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form #form="ngForm" fxLayout="column" fxLayoutAlign="space-between" novalidate>

					<mat-form-field class="input-text">
						<mat-label>Mail Address...</mat-label>
						<input #username="ngModel" [(ngModel)]="content.username" autocomplete="off" email matInput maxlength="255" minlength="3" name="username" placeholder="user@name" required type="email">
						<mat-error *ngIf="username.errors?.email;">有効なメールアドレスで</mat-error>
						<mat-error *ngIf="username.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="username.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="username.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>

					<mat-form-field class="input-text">
						<mat-label>Nickname...</mat-label>
						<input #nickname="ngModel" [(ngModel)]="content.nickname" autocomplete="off" matInput maxlength="100" minlength="3" name="nickname" placeholder="Xxxxxx..." required type="text">
						<mat-hint>3文字以上100文字まで</mat-hint>
						<mat-error *ngIf="nickname.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="nickname.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="nickname.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>

					<mat-form-field class="input-text">
						<mat-label>Password...</mat-label>
						<input #password="ngModel" [(ngModel)]="content.password" matInput maxlength="1000" minlength="6" name="password" placeholder="xxxxxx..." required type="password">
						<mat-hint>6文字以上1000文字まで</mat-hint>
						<mat-error *ngIf="password.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="password.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="password.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>

					<mat-form-field class="input-text">
						<mat-label>Password Again...</mat-label>
						<input #confirm_password="ngModel" [(ngModel)]="content.confirm_password" [validateEquals]="password" matInput name="confirm_password" placeholder="xxxxxx..." required type="password">
						<mat-hint>6文字以上1000文字まで</mat-hint>
						<mat-error *ngIf="confirm_password.errors?.required;">確認用パスワードを入力してください</mat-error>
						<mat-error *ngIf="confirm_password.errors?.validateEquals">確認用パスワードが一致しません</mat-error>
					</mat-form-field>

					<mat-checkbox (change)="changeAgree($event)" [(ngModel)]="agree"><a>利用規約</a>に同意します</mat-checkbox>

					<ng-container>
						{{completeMessage}}
					</ng-container>
				</form>
			</mat-card-content>
		</mat-card>
	</mat-dialog-content>

	<div class="spacer"></div>

	<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around" style="margin:6px;">
		<button (click)="onAccept()" [disabled]="!agree || form.invalid || progress" color="primary" mat-raised-button>OK</button>
		<button [disabled]="progress" color="warn" mat-dialog-close="" mat-raised-button>Cancel</button>
	</mat-dialog-actions>
</div>
