<div class="fix-action-dialog">
	<div fxLayout="row" fxLayoutAlign="start">
		<app-image style="margin:0.8rem" [fileName]="'avatar.jpg'" [view]="'visible'" [width]="64" [height]="64" [user_id]="content.user_id" (onProgress)="onProgressed($event)" (complete)="onUpdateAvatar($event)"></app-image>
		<h3 mat-dialog-title>{{content.username}}</h3>
	</div>

	<mat-dialog-content fxLayout="column">
		<mat-card>
			<mat-card-header>
			</mat-card-header>
			<mat-card-content>
				<form #form="ngForm" novalidate fxLayout="column" fxLayoutAlign="space-between">
					<mat-card>
						<mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">

							<mat-form-field class="input-text">
								<mat-label>Nickname...</mat-label>
								<input matInput autocomplete="off" type="text" placeholder="Xxxxxx" [(ngModel)]="content.nickname" #nickname_field="ngModel" name="nickname" required minlength="2" maxlength="255">
								<mat-hint>3文字以上500文字まで</mat-hint>
								<mat-error *ngIf="nickname_field.errors?.required;">入力してください</mat-error>
								<mat-error *ngIf="nickname_field.errors?.maxlength">長すぎます</mat-error>
								<mat-error *ngIf="nickname_field.errors?.minlength">短すぎます</mat-error>
							</mat-form-field>

							<mat-form-field class="input-text" style="margin-top: 0;">
								<mat-label>Auth...</mat-label>
								<input matInput type="number" placeholder="999" [(ngModel)]="content.auth" name="auth" required>
								<mat-hint>0〜10000</mat-hint>
							</mat-form-field>

							<div *ngIf="user.auth | authis: 'manager'">
								<mat-slide-toggle [color]="'accent'" [(ngModel)]="content.enabled" name="enable" [disabled]="false">enable</mat-slide-toggle>
							</div>

						</mat-card-content>
					</mat-card>

					<mat-card>
						<mat-card-content>
							<mat-form-field class="input-text" style="width: 100%;">
								<mat-label>description...</mat-label>
								<textarea matInput type="text" placeholder="description..." [(ngModel)]="content.description" #description="ngModel" name="description" maxlength="255"></textarea>
								<mat-hint>3文字以上500文字まで</mat-hint>
								<mat-error *ngIf="description.errors?.maxlength">長すぎます</mat-error>
							</mat-form-field>
						</mat-card-content>
					</mat-card>

					<mat-card>
						<mat-card-header>
							<mat-card-title>2FA</mat-card-title>
						</mat-card-header>
						<mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
							<mat-card style="height:200px;width:200px;padding:10px;">
								<mat-card-content fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-around center">
									<img *ngIf="qr != ''" style="height:180px;width:180px;border-style: solid; border-color: #505050;" [src]="qr" alt="qr code">
								</mat-card-content>
							</mat-card>
							<mat-card>
								<mat-card-content fxLayout="column" fxLayout.xs="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
									<button mat-raised-button color="accent" [disabled]="is2fa" (click)="onSet2Fa()">Set 2FA</button>
									<button mat-raised-button color="primary" [disabled]="!is2fa" (click)="onReset2Fa()">Clear 2FA</button>
								</mat-card-content>
							</mat-card>
						</mat-card-content>
					</mat-card>
				</form>
			</mat-card-content>
		</mat-card>
	</mat-dialog-content>

	<div class="spacer"></div>

	<mat-dialog-actions fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
		<button mat-raised-button color="accent" [disabled]="form.invalid" (click)="onAccept()" cdkFocusInitial>OK</button>
		<button mat-stroked-button color="warn" mat-dialog-close="" (click)="cancel()">Cancel</button>
	</mat-dialog-actions>
</div>
