<ng-container>
	<mat-card style="margin:2rem;">
		<mat-card-header>
			<div style="font-size: 32px;font-weight: 900;">Pages</div>
		</mat-card-header>
		<mat-card-content>
			<div fxLayout="row" fxLayoutAlign="space-between">
				<mat-paginator [length]="count" [pageSize]="size" (page)="Page($event)">
				</mat-paginator>
				<button mat-fab color="primary" [disabled]="isProgress" (click)="createDialog()" class="fab-center">+</button>
			</div>
			<div fxLayout="row" fxLayout.lt-sm="column">
				<mat-form-field fxFlex="60%" fxFlex.lt-sm="100%" fxLayout.sm="column" style="width:100%;">
					<mat-label>Path...</mat-label>
					<input matInput autocomplete="off" type="text" placeholder="Find by..." [(ngModel)]="path" (change)="findByPath();">
					<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="path='';findByPath();">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
			<mat-grid-list [cols]="breakpoint"  rowHeight="1:1" (window:resize)="onResize($event)">
				<mat-grid-tile class="box-body" *ngFor="let resource of results" [colspan]="resource.cols" [rowspan]="resource.rows">
					<mat-grid-tile-header>
						<div class="box-header">{{resource.path}}</div>
					</mat-grid-tile-header>
					<a href="/pages/get/{{resource.path}}" target="_blank">{{resource.path}}</a>
					<mat-grid-tile-footer fxLayout="row" fxLayoutAlign="space-around center">

						<button mat-icon-button (click)="updateDialog(resource.id)">
							<mat-icon color="primary">edit</mat-icon>
						</button>
						<button mat-icon-button (click)="onDelete($event, resource.id)">
							<mat-icon color="warn">delete_sweep</mat-icon>
						</button>

					</mat-grid-tile-footer>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-card-content>
	</mat-card>
</ng-container>
