.video {
    position: relative;
    height: 0;
    padding: 0 0 56.25%;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    width: 100%;
}

.box-header {
    word-wrap: break-word;
    width: 100%;
    line-height: 1rem;
    font-size: 0.8rem;
}

.box-body {
    filter: drop-shadow(0px 0px 2px rgba(71, 108, 154, 0.4));
    background-color: #efeff9;
}

.shadow {
    filter: drop-shadow(1px 1px 4px rgba(71, 108, 154, 0.4));
}

