<ng-container>
	<mat-card style="margin:2rem;">
		<mat-card-header>
			<div style="font-size: 32px;font-weight: 900;">Files</div>
		</mat-card-header>
		<mat-card-content>
			<div fxLayout="row" fxLayoutAlign="space-between">
				<mat-paginator (page)="Page($event)" [length]="count" [pageSize]="size">
				</mat-paginator>
				<input #fileInput (change)="onChangeFileInput()" multiple style="display: none" type="file"/>
				<button (click)="onClickFileInputButton()" [disabled]="isProgress" class="fab-center" color="primary" mat-fab>+</button>
			</div>
			<div fxLayout="row" fxLayout.lt-sm="column">
				<mat-form-field fxFlex="60%" fxFlex.lt-sm="100%" style="width:100%;">
					<input (change)="findByFilename();" [(ngModel)]="filename" autocomplete="off" matInput placeholder="Find by..." type="text">
					<button (click)="filename='';findByFilename();" [disabled]="isProgress" aria-label="Clear" mat-button mat-icon-button matSuffix>
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
			<mat-grid-list (window:resize)="onResize($event)" [cols]="breakpoint" rowHeight="1:1">
				<mat-grid-tile *ngFor="let file of results" [ngSwitch]="file.type" [colspan]="file.cols"  [rowspan]="file.rows" class="box-body">
					<app-image *ngSwitchCase="'image'" [fileName]="file.filename" [username]="file.metadata.username" [view]="'editable'"></app-image>
					<video *ngSwitchCase="'video'" controls muted playsinline style="height: 60%;">
						<source src="{{endPoint}}/files/get/{{file.filename}}">
					</video>
					<div *ngSwitchDefault [ngSwitch]="file.extension">
						<i *ngSwitchCase="'zip'" class="material-icons" style="color:#ff1744;font-size: 6rem;">insert_drive_file</i>
						<i *ngSwitchDefault class="material-icons" style="color:#90caf9;font-size: 6rem;">insert_drive_file</i>
					</div>

					<mat-grid-tile-header>
						<div class="box-header">{{file.filename}}</div>
					</mat-grid-tile-header>
					<mat-grid-tile-footer fxLayout="row" fxLayoutAlign="space-around center">
						<a href="{{endPoint}}/files/get/{{file.filename}}" mat-icon-button target=”_blank”>
							<mat-icon color="primary">collections</mat-icon>
						</a>
						<a download href="{{endPoint}}/files/get/{{file.filename}}" mat-icon-button>
							<mat-icon color="primary">cloud_download</mat-icon>
						</a>
						<button (click)="onDelete($event, file.filename)" mat-icon-button>
							<mat-icon color="warn">delete_sweep</mat-icon>
						</button>

					</mat-grid-tile-footer>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-card-content>
	</mat-card>
</ng-container>
