<div class="fix-action-dialog">
	<h2 mat-dialog-title>/files/get/{{data.filename}}</h2>
	<mat-dialog-content>
		<div fxLayout="column" fxLayoutAlign="start">
			<div fxLayout="row">
				<mat-card fxFlex="80%" fxLayoutAlign="center center" style="padding:1rem;">
					<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[imageBase64]="imageBase64()"
						[maintainAspectRatio]="false"
						[format]="format()"
						(imageCropped)="imageCropped($event)"
						(imageLoaded)="imageLoaded()"
						(cropperReady)="cropperReady()"
						(loadImageFailed)="loadImageFailed()"
						(rotate)="onRotate($event)">
					</image-cropper>
				</mat-card>
				<!-- <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center start">
					<button mat-raised-button color="accent" style="margin:0.6rem auto;" (click)="rotateLeft()">
						<i class="material-icons">rotate_left</i>
					</button>
					<button mat-raised-button color="accent" style="margin:0.6rem auto;" (click)="rotateRight()">
						<i class="material-icons">rotate_right</i>
					</button>
					<button mat-raised-button color="accent" style="margin:0.6rem auto;" (click)="flipVertical()">
						<i class="material-icons" style="transform: rotate(90deg);">flip</i>
					</button>
					<button mat-raised-button color="accent" style="margin:0.6rem auto;" (click)="flipHorizontal()">
						<i class="material-icons">flip</i>
					</button>
				</mat-card> -->
			</div>
		</div>
	</mat-dialog-content>

	<div class="spacer"></div>

	<mat-dialog-actions style="margin:6px;" fxLayout="row" fxLayoutAlign="space-around">
		<button mat-raised-button color="accent" (click)="onAccept()">OK</button>
		<button mat-stroked-button color="warn" mat-dialog-close="" (click)="cancel()">Cancel</button>
	</mat-dialog-actions>

</div>
