<ng-container>
	<mat-card style="margin:2rem;">
		<mat-card-content>
			<div fxLayout="column">
				<div (click)="click(resource.content)" *ngFor="let resource of results" fxLayout="row" matRipple style="height:200px;">
					<div fxLayout="column" fxLayoutAlign="center center" style="max-height:200px;">
						<img [src]="imagePath(resource.content)" style="width:100px;">
					</div>
					<div fxLayout="column" fxLayoutAlign="start start" style="margin:12px;">
						<div style="margin:12px;font-size:16px;font-weight:500">{{resource.create}}</div>
						<div style="margin:12px;font-size:18px;font-weight:900;">{{resource.content.value.title}}</div>
						<div style="margin:12px;font-weight:200;">{{resource.content.value.description | striphtml | truncate:200 }}</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</ng-container>

