<div class="fix-action-dialog">
	<h1 mat-dialog-title>{{content.title}}</h1>

	<div mat-dialog-content fxLayout="column">
		<mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" style="height:200px;width:200px;padding:10px;">
			<img *ngIf="qr != ''" style="height:180px;width:180px;border-style: solid; border-color: #505050;" [src]="qr">
		</mat-card>
	</div>

	<div mat-dialog-actions fxLayout="column">
		<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
			<button mat-stroked-button color="warn" mat-dialog-close="">Close</button>
		</div>
	</div>
</div>
