<div class="fix-action-dialog">
	<h2 mat-dialog-title>Send</h2>
	<mat-dialog-content>
		<mat-card>
			<mat-card-content>
				<form #form="ngForm" novalidate fxLayout="column" fxLayoutAlign="space-between">

					<mat-form-field class="input-text">
						<mat-label>to</mat-label>
						<input matInput autocomplete="off" type="email" email placeholder="mail@adderss" [(ngModel)]="content.to" #to_field="ngModel" name="to_field" required minlength="3" maxlength="255">
						<mat-hint>3文字以上255文字まで</mat-hint>
						<mat-error *ngIf="to_field.errors?.email;">有効なメールアドレスで</mat-error>
						<mat-error *ngIf="to_field.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="to_field.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="to_field.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>

					<mat-form-field class="input-text">
						<mat-label>Title...</mat-label>
						<input matInput autocomplete="off" type="text" placeholder="xxxxxx..." [(ngModel)]="content.title" #title_field="ngModel" name="title_field" required minlength="3" maxlength="255">
						<mat-hint>3文字以上500文字まで</mat-hint>
						<mat-error *ngIf="title_field.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="title_field.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="title_field.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>

					<mat-form-field class="input-text">
				<textarea
					matInput
					type="text"
					placeholder="Description"
					[(ngModel)]="content.description"
					#description_field="ngModel"
					name="description_field"
					maxlength="1000"
					cdkTextareaAutosize
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					cdkAutosizeMaxRows="5"
				></textarea>
						<mat-hint>1000文字まで</mat-hint>
						<mat-error *ngIf="description_field.errors?.maxlength">長すぎます</mat-error>
					</mat-form-field>
				</form>
			</mat-card-content>
		</mat-card>
	</mat-dialog-content>

	<div class="spacer"></div>

	<mat-dialog-actions fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
		<button mat-raised-button color="accent" [disabled]="form.invalid" (click)="onAccept()">OK</button>
		<button mat-stroked-button color="warn" mat-dialog-close="" (click)="cancel()">Cancel</button>
	</mat-dialog-actions>

</div>
