<mat-toolbar style="background-color:#4a0072;" fxLayout="row" fxLayoutAlign="space-between center">

	<div fxLayout="row" fxLayoutAlign="start">
		<button mat-icon-button *ngIf="(device === 'handset') && role.login" (click)="sidenav.toggle()">
			<mat-icon style="color:#fdfdfd;">menu</mat-icon>
		</button>
		<span style="color:#fdfdfd;font-weight:400;"><span style="color:#ff9800;font-weight:900;">P</span>latform</span>
		<span style="margin-left:0.8rem;font-size:0.5rem;font-weight:900;color:#fdfdfd;">Release 0.0.9 :</span>


	</div>

	<div *ngIf="role.login">
		<span style="color:#fdfdfd;font-size:0.8rem;">{{currentSession.content.nickname}}</span>
		<button mat-icon-button style="color:#fdfdfd;" (click)="updateDialog()">
			<mat-icon>perm_identity</mat-icon>
		</button>
	</div>

	<div *ngIf="!role.login">
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon style="color:#fdfdfd;">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item auth-login-button (complete)="onLogin($event)">
				<mat-icon>account_box</mat-icon>
				<span>Login</span>
			</button>
			<button mat-menu-item auth-regist-button (complete)="onRegist($event)">
				<mat-icon>person_add</mat-icon>
				<span>Regist</span>
			</button>
			<button mat-menu-item auth-password-button (complete)="onPassword($event)">
				<mat-icon>vpn_key</mat-icon>
				<span>Password</span>
			</button>
		</mat-menu>
	</div>
</mat-toolbar>

<mat-sidenav-container class="container">
	<mat-sidenav #sidenav  fxLayout="column" fxLayoutAlign="center" [mode]="(device === 'handset') ? 'over' : 'side'" [opened]="!(device === 'handset') && role.login" style="background-color:#000051;">

		<div fxLayout="column" fxLayoutAlign="center center">
			<app-image style="margin: 12px;" [extensions]="'jpg,jpeg,png,webp'" [fileName]="'avatar.jpg'" [view]="'rename'" (onProgress)="onProgressed($event)" (complete)="onUpdateAvatar()"></app-image>
		</div>

		<mat-list>

			<mat-list-item style="height: 34px;">
				<a mat-button style="color:#fdfdfd;font-size:12px;" routerLink="/platform/personal">
					<mat-icon style="color:#e5a5ff;font-size:20px;" mat-list-icon>home</mat-icon>
					Personal</a>
			</mat-list-item>

			<mat-list-item style="height: 34px;" *ngIf="role | authis: 'manager'">
				<a mat-button style="color:#fdfdfd;font-size:12px;" routerLink="/platform/accounts">
					<mat-icon style="color:#b9fad7;font-size:20px;" mat-list-icon>account_circle</mat-icon>
					Accounts</a>
			</mat-list-item>

			<mat-list-item style="height: 34px;">
				<a mat-button style="color:#fdfdfd;font-size:12px;" routerLink="/platform/pages">
					<mat-icon style="color:#a7e7ff;font-size:20px;" mat-list-icon>edit</mat-icon>
					Pages</a>
			</mat-list-item>

			<mat-list-item style="height: 34px;">
				<a mat-button style="color:#fdfdfd;font-size:12px;" routerLink="/platform/files">
					<mat-icon style="color:#99a9ff;font-size:20px;" mat-list-icon>photo_library</mat-icon>
					Files</a>
			</mat-list-item>

			<mat-list-item style="height: 34px;">
				<a mat-button style="color:#fdfdfd;font-size:12px;" routerLink="/platform/articles">
					<mat-icon style="color:#e5a5ff;font-size:20px;" mat-list-icon>view_comfy</mat-icon>
					Articles</a>
			</mat-list-item>


			<mat-list-item style="color:#fdfdfd;" *ngIf="provider === 'local'">
				<button mat-button style="color:#fdfdfd;font-size:12px;" auth-password-button (complete)="onPassword($event);">
					<mat-icon style="font-size:20px;" mat-list-icon>vpn_key</mat-icon>
					Password
				</button>
			</mat-list-item>

			<mat-list-item style="color:#fdfdfd;">
				<button mat-button style="color:#fdfdfd;font-size:12px;" auth-logout-button (complete)="onLogout($event);">
					<mat-icon style="font-size:20px;" mat-list-icon>exit_to_app</mat-icon>
					Logout
				</button>
			</mat-list-item>

			<mat-list-item style="color:#fdfdfd;">
				<button mat-button style="color:#fdfdfd;font-size:12px;" login-qr-button>
					<mat-icon style="font-size:20px;" mat-list-icon>center_focus_strong</mat-icon>
					QR Code
				</button>
			</mat-list-item>

			<!-- <mat-list-item style="color:#fdfdfd;">
				<button mat-button style="color:#fdfdfd;font-size:12px;" auth-withdraw-button>
					<mat-icon style="font-size:20px;" mat-list-icon>exit_to_app</mat-icon>
					Withdraw
				</button>
			</mat-list-item> -->

		</mat-list>

	</mat-sidenav>

	<mat-sidenav-content style="background-color:#E1E2E1;">
		<div *ngIf="role.login">
			<router-outlet #o="outlet"></router-outlet>
		</div>
	<!--	<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
			<router-outlet #o="outlet"></router-outlet>
		</div> -->
	</mat-sidenav-content>

</mat-sidenav-container>
