<div class="fix-action-dialog">
	<h1 mat-dialog-title>{{content.title}}</h1>

	<mat-dialog-content fxLayout="column">
		<mat-card>
			<mat-card-header>
				<div class="description-text">{{content.description}}</div>
			</mat-card-header>
			<mat-card-content>
				<form #form="ngForm" fxLayout="column" fxLayoutAlign="space-between" novalidate>
					<mat-form-field class="input-text">
						<mat-label>Mail Address...</mat-label>
						<input #update_username_field="ngModel" [(ngModel)]="content.update_username" autocomplete="off" email matInput maxlength="255" minlength="3" name="update_username" placeholder="user@name" required type="email">
						<mat-error *ngIf="update_username_field.errors?.email;">有効なメールアドレスで</mat-error>
						<mat-error *ngIf="update_username_field.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="update_username_field.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="update_username_field.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>
				</form>
			</mat-card-content>
		</mat-card>
	</mat-dialog-content>

	<div class="spacer"></div>

	<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around" style="margin:6px;">
		<button (click)="onAccept()" [disabled]="form.invalid || progress" color="primary" mat-raised-button>OK</button>
		<button [disabled]="progress" color="warn" mat-dialog-close="" mat-raised-button>Cancel</button>
	</mat-dialog-actions>
</div>
