<div class="fix-action-dialog">
	<h2 mat-dialog-title>Vault</h2>

	<div mat-dialog-content fxLayout="column" fxLayoutAlign="space-between">
		<form #form="ngForm" novalidate fxLayout="column" fxLayoutAlign="space-between">
			<div>{{ content.value.customer_email }}</div>
			<div>{{ content.value.exp_month }}</div>
			<div>{{ content.value.exp_year }}</div>
			<div>{{ content.value.number }}</div>
			<div>{{ content.value.cvc }}</div>
		</form>
	</div>

	<div class="spacer"></div>

	<div mat-dialog-actions style="margin:6px;" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
		<mat-slide-toggle class="example-margin" [color]="'accent'" [(ngModel)]="content.enabled" name="enable" [disabled]="false">enable</mat-slide-toggle>
		<button mat-raised-button color="accent" [disabled]="form.invalid" (click)="onAccept()">OK</button>
		<button mat-stroked-button color="warn" mat-dialog-close="" (click)="cancel()">Cancel</button>
	</div>
</div>
