<div class="fix-action-dialog">
	<h1 mat-dialog-title>{{content.title}}</h1>
	<mat-dialog-content fxLayout="column">
		<mat-card>
			<mat-card-header>
				<mat-card-subtitle>
					<div class="description-text">{{content.description}}</div>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form #form="ngForm" novalidate fxLayout="column" fxLayoutAlign="space-between">

					<mat-form-field class="input-text">
						<mat-label>Mail Address...</mat-label>
						<input matInput autocomplete="off" type="email" email placeholder="user@name" [(ngModel)]="content.username" #username="ngModel" name="username" required minlength="3" maxlength="255">
						<mat-error *ngIf="username.errors?.email;">有効なメールアドレスで</mat-error>
						<mat-error *ngIf="username.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="username.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="username.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>

					<div fxLayout="row">

						<mat-form-field  class="input-text" fxFlex="90%">
							<mat-label>Password...</mat-label>
							<div *ngIf="password_visible; then visible_input; else invisible_input"></div>
							<ng-template #visible_input>
								<input matInput type="text" placeholder="Password" [(ngModel)]="content.password" #password="ngModel" name="password" required maxlength="1000">
							</ng-template>
							<ng-template #invisible_input>
								<input matInput type="password" placeholder="Password" [(ngModel)]="content.password" #password="ngModel" name="password" required maxlength="1000">
							</ng-template>
						</mat-form-field>

						<button mat-button fxFlex="10%" matSuffix mat-icon-button (click)="password_visible = !password_visible;">
							<div *ngIf="password_visible; then visible_icon; else invisible_icon"></div>
							<ng-template #visible_icon>
								<mat-icon>visibility</mat-icon>
							</ng-template>
							<ng-template #invisible_icon>
								<mat-icon>visibility_off</mat-icon>
							</ng-template>
						</button>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</mat-dialog-content >
	<div class="spacer"></div>
	<mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around" fxLayoutAlign.lt-sm="center">
		<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" fxLayoutAlign.lt-sm="center">
			<button mat-raised-button color="accent" [disabled]="form.invalid || progress" (click)="onAccept()" cdkFocusInitial>OK</button>
			<a mat-raised-button color="primary" [disabled]="!form.invalid || progress" style="color:#fdfdfd;" href="/auth/facebook"><i class="fab fa-facebook-square fa-lg"></i><span style="margin-left:4px">Facebook</span></a>
			<a mat-raised-button color="primary" [disabled]="!form.invalid || progress" style="background-color:#fdfdfd;color:#303030;" href="/auth/apple"><i class="fab fa-apple fa-lg"></i><span style="margin-left:4px">Apple</span></a>
		</div>
		<mat-divider style="margin:8px;"></mat-divider>
		<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
			<button mat-stroked-button color="warn" [disabled]="progress" mat-dialog-close="">Cancel</button>
		</div>
	</mat-dialog-actions>
</div>
