.form-field {
	margin: 1rem 0;
}

.fix-action-dialog {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.spacer {
	flex-grow: 1;
}

::ng-deep.mat-dialog-container {
	background-color:#1af7f726;
	backdrop-filter: blur(4px);
}
